/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
HTML content. To learn how to do something, just try searching Google for questions like
"how to change link color." */


body {
    background-color: #202;
    color: whitesmoke;
    font-family: "Lucida Console", "Courier New", courier, monospace;
}

main {
    margin: auto;
    width: 800px;
}

a:visited, a:link {
    color: aqua;
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}


hr {
    border: 2px solid whitesmoke;
}


div {
    border: solid black;
    margin: 10px;
    background-color: #707;
    padding: 10px;
}


header {
    background-color: #702;
    border: solid black;
    margin: auto;
    width: 1000px;
    text-align: center;
}


footer {
    background-color: #207;
    border: solid black;
    padding: 10px;
    margin: auto;
    width: 1000px;
}